/* Soluzione qui */
/* MOBILE */
@media screen and (min-width: 480px) {
    .recipe-video{
        height: 100%;
    }

    .recipe-video img {
        width: 100%;
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: flex-start;
    }

    .container {
        padding: 30px;
    }

    .recipe-origin {
        display: inline-block;
    }

    .recipe-title {
        font-size: 20px;
    }
}